.Ticket {
  display: inline-block;
  background: #4CAF50;
  color: black;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 8px;
  min-width: 30px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}
