.Ticket {
  background: #ffffff;
  padding: 15px;
  border-radius: 12px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 10px 0;
  border: 2px solid #e0e0e0;
}

.Ticket p {
  margin: 0;
  font-weight: bold;
  color: #444;
  letter-spacing: 1px;
}
